{% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{%block title%} Exposed Wires{%endblock%}</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <style type="text/tailwindcss">      
            @theme {
    --color-primary-100:#c21d03;
    --color-primary-200:#fd5732;
    --color-primary-300:#ffb787;
    --color-accent-100:#393939;
    --color-accent-200:#bebebe;
    --color-text-100:#232121;
    --color-text-200:#4b4848;
    --color-bg-100:#fbfbfb;
    --color-bg-200:#f1f1f1;
    --color-bg-300:#c8c8c8;
      
    --color-faded-black:#000000a5;
                    
                }    
        </style>
                                
</head>
    <body class="bg-bg-100">
        {% block header %}
            {%if user.role == "seller"%}
                {% include 'includes/seller_header.html' %}
            {%elif user.role != "admin"%}
                {% include 'includes/shopper_header.html' %}
            {%endif %}

        {% endblock %}
        <main class="min-h-screen w-screen flex ">
            {%if user.role == "admin" %}
                {% include 'includes/admin_sidbar.html'%}
            {% endif %}
            <section class="w-full">{% block content %}{% endblock %}</section>
        </main>
        {% block footer %}
            {%if user.role != "admin"%}
                {% include 'includes/footer.html' %}
            {%endif%}
        {% endblock %}
        <script src="{% static 'scripts.js' %}"></script>
        {%block scripts%}{%endblock%}
                            
    </body>

</html>    
                            