{% extends "layout.html" %}

{% block content %}
<section class="min-h-[100vh] bg-bg-100 py-12 px-6">
  <div class="max-w-7xl mx-auto">
    <!-- Page Title -->
    <h2 class="text-4xl font-bold text-primary-200 mb-10 text-center">
      Look At Our Products
    </h2>

    <!-- Product Grid -->
    <div id="shop_product_grid" class="flex overflow-x-scroll w-full p-2">
    </div>
  </div>
</section>
{%endblock%}
{%block scripts%}
<script>
  function shop_products(data){
    const shopPorductGrid = document.getElementById('shop_product_grid')
    if(!data){
      shopPorductGrid.innerHTML = `<p class="col-span-full text-center text-text-200">No products available.</p>`
      return
    }
    
      shopPorductGrid.innerHTML = data.map(product=>`
            <div class="relative bg-bg-200 min-w-[230px] max-h-[280px] rounded-2xl shadow-lg flex flex-col items-center transition-transform transform hover:scale-105">
            ${product.discount ? '<span class="absolute top-0 right-0 p-1 bg-primary-300 text-accent-100 rounded-es-lg rounded-se-lg">-'+product.discount+'%</span>':""}
            <!-- Product Image -->
            <img src="${product.image.url}" alt="${product.name}" class="h-48 w-full object-cover rounded-lg mb-4">

            <!-- Product Info -->
            <h3 class="text-md font-semibold text-text-100 mb-2">${ product.name }</h3>
            <span class="text-sm ${product.discount ? ' line-through decoration-2 decoration-text-100': ''} font-bold text-text-200 mb-4">$${product.price}</span>
            ${product.discount?'<span class="text-lg font-bold text-primary-300 ">$'+getPrice(product.price,product.discount)+'</span>':''}
            <!-- Add to Cart -->
            <button type="submit"
                    class="bg-primary-100 hover:bg-accent-200 
                          text-white cursor-pointer font-semibold px-6 py-2 rounded-lg shadow-md 
                          transition-all">
              Add to Cart
            </button>
            
          </div>
        `).join('')
    }
  
  get_products(shop_products)
</script>
{% endblock  %}
