{% extends "layout.html" %}

{% block content %}
<section class="min-h-[100vh] bg-bg-100 py-12 px-6">
  <div class="max-w-7xl mx-auto">
    <!-- Page Title -->
    <h2 class="text-4xl font-bold text-primary-200 mb-10 text-center">
      Look At Our Products
    </h2>

    <!-- Product Grid -->
    <div id="shop_product_grid" class="flex flex-col w-full p-2">
      
    </div>
  </div>
</section>
{%endblock%}
{%block scripts%}
<script>
  async function shop_page(){
    const shopPorductGrid = document.getElementById('shop_product_grid')
    let products = await get_data(get_Products_url + '0')
    let categories = await get_data(get_Categories_url + '0')
    for (let category of categories){
      category_product_grid = document.createElement('div')
      category_product_grid.classList.add('flex','flex-col','shadow-lg')
      category_product_grid.innerHTML = `<div class="flex justify-between items-center py-2 px-4 bg-primary-100">
        <p class="text-3xl capitalize font-bold text-white">${category.name} <span class="text-xl">Options</span></p>
        <a href="categories/${category.name}/" class="text-lg hover:text-xl text-white">See all</a>
      </div>`
    category_products = products.filter(product=>product.category == category.id)
    category_product_card_holder = document.createElement('div')
    category_product_card_holder.classList.add('flex','overflow-x-scroll','overflow-y-none','px-3','py-5')
    
    category_product_card_holder.innerHTML += category_products.map((product, index)=>index<10?`
            <a href='/products/${product.id}' class="relative overflow-hidden cursor-pointer bg-bg-200 min-w-[180px] w-[180px] max-h-[200px] rounded-2xl shadow-lg flex flex-col items-center transition-transform transform hover:scale-105">
            ${product.discount ? '<span class=" font-semibold absolute top-0 right-0 p-1 bg-accent-100 text-white rounded-es-lg rounded-se-lg">-'+product.discount+'%</span>':""}
            <!-- Product Image -->
            <img src="http://res.cloudinary.com/duxorzcjg/${product.image}" alt="${product.name}" class="h-48 w-full object-scale-down rounded-lg mb-4">

            <!-- Product Info -->
            <div class=" w-full h-full flex flex-col justify-end absolute top-0 hover:bg-faded-grey">
              <h3 class="text-md font-semibold text-primary-100 capitalize font-bold  mb-2">${ product.name }</h3>
              <div class="flex gap-1 items-center justify-center ">
                <span class="text-sm ${product.discount ? ' line-through decoration-2 decoration-text-200 self-start text-text-200': ' text-text-100 '} font-bold">$${product.price}</span>
                ${product.discount?'<span class="text-lg font-bold text-accent-200 ">$'+getPrice(product.price,product.discount)+'</span>':''}
              </div>
              
            </div>
          </a>
        `:'').join('')
    category_product_grid.appendChild(category_product_card_holder)
    shopPorductGrid.appendChild(category_product_grid)
      }
    }
    shop_page()
  </script>
{% endblock  %}
